# Visual Studio cache
.vs/

# Build artifacts
build/
CMakeCache.txt
CMakeFiles/
*.user
*.vcxproj*
*.sln

# Python
__pycache__/
*.pyc

2025-01-01-15.json.gz
text8.zip
block0.rng
first_1e6_words.txt
sha1_all.txt